

.nav{
    background-color: gray;
}


h1{
    font-family: Fredoka One,cursive;
}

a{
    color: #2c3e50;
    text-align: center;
    font-family: Fredoka One,cursive;
    font-size: 1.5em;
}
a:hover{
    color:rgb(255, 255, 255) ;
}

.col{
    padding-top: 1%;
}
.principal{
color:rgb(255, 255, 255) ;
}
.nav{
    background-color:#00B9FF;

}
.fondo{
    background-color:#00B9FF;
    min-height: 100%;
}

