.card{
    border-radius: 25px;
    height: 20em;
}
.saludo{
    padding-top: 15%;
    font-family: Fredoka One,cursive;
    text-align: center;
}
.nav{
    background-color: gray;
}
.alta{
    height: 50em;
}

h1{
    font-family: Fredoka One,cursive;
}

a{
    color: #2c3e50;
    text-align: center;
    font-family: Fredoka One,cursive;
}

.web {
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}
.web:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(132, 0, 255), rgb(0, 38, 255));
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}
.espanna {
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}
.espanna:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, orange);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}
.perfil{
    height: 10em;
    width: 10em;
}
.col{
    padding-top: 1%;
}
.nav{
    background-color:#bdc3c7;
}
.fondo{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 100%;
}